@import 'vars';

.card_container, .actions, .tag_actions {
  width: 50%;
  margin: 1% auto;

  @media screen and (max-width: $break-med) {
    width: 70%;
  }

  @media screen and (max-width: $break-small) {
    width: 95%;
  }
}

/* User Details */
.user_details {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  img {
    margin: 2% auto 0;
  }
}

/* Card */
.card_container {
  position: relative;
  padding: 3%;
  border: 1.5px solid $grey;

  .card_overlay {
    padding: 3%;
  }

  p {
    text-align: justify;
    font-size: 0.7rem;
  }

  h3 {
    position: absolute;
    color: $white;
    font-size: 3.5rem;
    text-align: center;
    width: 80%;
    margin-top: 30px;
  }

  img {
    position: absolute;
    width: 80%;
    padding: 40% 32% 0 35%;
  }

  @media screen and (max-width: $break-small) {
    h3 {
      font-size: 2rem;
    }
  }

  /* Variable Fonts */
  .font_bold {
    font-family: $headline-font;
  }

  .font_print {
    font-family: $script-font;
  }

  .font_cursive {
    font-family: $cursive-font;
  }


  /* Variable Colors */
  div.grey {
    @include card-create($grey);
  }

  div.red {
    @include card-create($red);
  }

  div.orange {
    @include card-create($orange);
  }

  div.blue {
    @include card-create($blue);
  }

  div.green {
    @include card-create($green);
  }

  div.purple {
    @include card-create($purple);
  }
}

/* Actions */
.lyrick_action {
    display: inline-block;
    background-color: $grey;
    color: $white;
    padding: 2%;
    min-width: 70px;
    text-align: center;
    margin: 0.5%;

  &:hover {
    background-color: darken($grey, 10%);
  }

  @media screen and (max-width: $break-small) {
    padding: 2%;
  }
}

/* Tags */
.tag_actions {
  padding: 2%;
  text-align: center;

  .tagged, .not-tagged {
    display: inline-block;
    padding: 4% 1%;
    margin: 1%;
    width: 25%;
  }

  .tagged {
    @include activate-colors($red, $white);
  }

  .not-tagged {
    @include activate-colors($white, $red);
  }
}
