@import 'vars';

.sub_nav {
  display: inline-block;
  width: 35%;

  .lyrick_action {
    padding: 4%;
  }

  @media screen and (max-width: $break-small) {
    margin-left: 2%;

    .lyrick_action {
      padding: 6%;
    }
  }
}

.tags {

  padding: 2%;
  text-align: center;
  .tag_link {
    border: 2px solid $red;
    padding: 1%;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }

}

.card_preview {
  display: inline-block;
  width: 30%;
  margin: 1%;
  padding: 2%;
  border: 1.5px solid $grey;

  /* Variable Fonts */

  .font_bold {
    font-family: $headline-font;
  }

  .font_print {
    font-family: $script-font;
    font-size: 1.3rem;
  }

  .font_cursive {
    font-family: $cursive-font;
    font-size: 1.3rem;
  }

  /* Variable Colors */
  div.grey {
    background-color: $grey;
    &:hover {
      background-color: darken($grey, 10%);
    }
  }

  div.red {
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }

  div.orange {
    background-color: $orange;
    &:hover {
      background-color: darken($orange, 10%);
    }
  }

  div.blue {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  div.green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 10%);
    }
  }

  div.purple {
    background-color: $purple;
    &:hover {
      background-color: darken($purple, 10%);
    }
  }

  @media screen and (max-width: $break-med) {
  width: 45%;
  margin: 2%;
  }

  @media screen and (max-width: $break-small) {
  width: 75%;
  margin: 2% 12%;
  }
}

.card_overlay_preview {
  padding: 15% 2%;

  h3 {
    text-align: center;
    color: $white;
  }


}

.create_new {
  background-color: $red;
  padding: 15% 2%;

  &:hover {
    background-color: darken($red, 10%);
  }

  h3 {
    display: inline-block;
    padding: 2% 6%;
  }
  .plus {
    display: inline-block;
    margin: -1% auto;
    width: 18px;

    @media screen and (max-width: $break-med) {
      display: none;
    }
  }
}
