@import 'vars';

.card_container, .actions {
  width: 50%;
  margin: 2% auto;

  @media screen and (max-width: $break-med) {
    width: 70%;
  }

  @media screen and (max-width: $break-small) {
    width: 95%;
  }
}

.card_container {
  position: relative;
  padding: 3%;
  border: 1.5px solid $grey;

  .card_overlay {
    padding: 3%;
  }

  p {
    text-align: justify;
    font-size: 0.75rem;
  }

  h3 {
    position: absolute;
    color: $white;
    font-size: 3.5rem;
    text-align: center;
    width: 80%;
    margin-top: 30px;
  }

  img {
    position: absolute;
    width: 80%;
    padding: 40% 32% 0 35%;
  }

  @media screen and (max-width: $break-small) {
    h3 {
      font-size: 2rem;
    }
  }

  /* Variable Fonts */

  .font_bold {
    font-family: $headline-font;
  }

  .font_print {
    font-family: $script-font;
  }

  .font_cursive {
    font-family: $cursive-font;
  }


  /* Variable Colors */

  p.grey {
    color: darken($grey, 20%);
  }

  div.grey {
    background-color: $grey;
  }

  p.red {
    color: darken($red, 20%);
  }

  div.red {
    background-color: $red;
  }

  p.orange {
    color: darken($orange, 20%);
  }

  div.orange {
    background-color: $orange;
  }

  p.blue {
    color: darken($blue, 20%);
  }

  div.blue {
    background-color: $blue;
  }

  p.green {
    color: darken($green, 20%);
  }

  div.green {
    background-color: $green;
  }

  p.purple {
    color: darken($purple, 20%);
  }

  div.purple {
    background-color: $purple;
  }
}


.lyrick_action {
    display: inline-block;
    background-color: $grey;
    color: $white;
    padding: 1.5%;
    min-width: 70px;
    text-align: center;
    margin: 0 0.5%;

  &:hover {
    background-color: darken($grey, 10%);
  }

  @media screen and (max-width: $break-small) {
    padding: 3%;
  }
}
