@import 'vars';


.lyrick_form {
  width: 50%;
  margin: 3% auto;
  background-color: $tan;

  @media screen and (max-width: $break-med) {
    width: 70%;
  }

  @media screen and (max-width: $break-small) {
    width: 95%;

    .heading {
      font-size: 1.5rem;
    }
  }
}

.new_card, .edit_card {
  text-align: center;

 label {
    display: block;
    width: 45%;
    margin: 0.5% auto;
    padding: 2%;
    font-size: 1.2rem;
  }

  #card_title {
    width: 300px;
    height: 25px;
  }

  textarea {
    display: block;
    margin: 0 auto 2%;
    width: 90%;
  }

  /* Submit Button */
  .create_lyrick {
    padding: 2%;
    margin: 5%;
    font-size: 1.4rem;
  }

  fieldset {
    margin: 5%;
    border-color: $white;
  }

  /* Icon Selections */
  .icon_label, .color_label {

  }

  .icon_select_container, .color_select_container {
    display: inline-block;
    width: 48%;


    img {
      opacity: 0.5;
    }
  }

  .color_pick {
    display: inline-block;
    width: 32px;
    height: 32px;
    @include border-radius(5px);
  }


  .grey_color {
    background-color: $grey;
    border: 2px solid darken($grey, 10%);
  }

  .red_color {
    background-color: $red;
    border: 2px solid darken($red, 10%);
  }

  .orange_color {
    background-color: $orange;
    border: 2px solid darken($orange, 10%);
  }

  .blue_color {
    background-color: $blue;
    border: 2px solid darken($blue, 10%);
  }

  .green_color {
    background-color: $green;
    border: 2px solid darken($green, 10%);
  }

  .purple_color {
    background-color: $purple;
    border: 2px solid darken($purple, 10%);
  }

  @media screen and (max-width: $break-small) {
    label {
      font-size: 0.9rem;
    }

    .create_lyrick {
      font-size: 1rem;
    }
  }
}
