@import 'vars';

.lyrick_form {
  width: 50%;
  margin: 3% auto;
  background-color: lighten($grey, 20%);

  .form_heading {
    display: inline-block;
    width: 100%;
    font-family: $script-font;
    padding: 3%;
    font-size: 3rem;
    text-align: center;
  }

  @media screen and (max-width: $break-med) {
    width: 70%;
  }

  @media screen and (max-width: $break-small) {
    width: 95%;

    .heading {
      font-size: 1.5rem;
    }
  }
}

.new_card, .edit_card {
  text-align: center;

 label, legend {
    display: block;
    width: 45%;
    margin: 0.5% auto;
    padding: 2% 0;
    font-size: 1.2rem;
    color: darken($grey, 30%);
  }

  #card_title {
    width: 300px;
    height: 25px;
  }

  textarea {
    display: block;
    margin: 0 auto 2%;
    width: 90%;
  }

  fieldset {
    margin: 5%;
    border-color: $white;
  }

  /* Submit Button */
  .create_lyrick {
    padding: 2%;
    margin: 0 2% 5%;
    font-size: 1.4rem;
  }

  /* Custom Selections */

  .icon_select_container, .color_select_container {
    width: 30%;
  }

  .font_select_container, .setting_select_container {
    width: 48%;
  }

  .icon_select_container, .color_select_container, .font_select_container, .setting_select_container {
    display: inline-block;

    img {
      opacity: 0.4;
    }

    input {
      display: none;
    }

    /* Checked State */

    input:checked ~ label {
      color: $white;
    }

    input:checked ~ label img {
      opacity: 1;
    }

    input:checked ~ label div {
     box-shadow: 0px 0px 15px 10px $white;
    }
  }

  .font_bold {
    font-family: $headline-font;
  }

  .font_print {
    font-family: $script-font;
    font-size: 1.75rem;
  }

  .font_cursive {
    font-family: $cursive-font;
    font-size: 1.75rem;
  }

  .color_pick {
    display: inline-block;
    width: 32px;
    height: 32px;
    @include border-radius(5px);
  }

  .grey_color {
    @include color-palette($grey);
  }

  .red_color {
    @include color-palette($red);
  }

  .orange_color {
    @include color-palette($orange);
  }

  .blue_color {
    @include color-palette($blue);
  }

  .green_color {
    @include color-palette($green);
  }

  .purple_color {
    @include color-palette($purple);
  }



  @media screen and (max-width: $break-small) {
    label {
      font-size: 0.9rem;
    }

    .create_lyrick {
      font-size: 1rem;
    }
  }
}
