@import 'vars';

/* Nav */

nav, h1, ul, p {
  margin: 0;
}

nav {
  background-color: $black;

  h1, ul, li {
    display: inline-block;
  }

  h1 {
    font-family: $headline-font;
    font-size: 2.7rem;
    float: left;
    width: 20%;
    padding: 0.75% 2%;

    a {
      color: $grey;
    }
  }

  ul {
    float: left;
    width: 80%;
    padding: 1% 2%;
  }

  li {
    float: right;
    background-color: $grey;
    margin: 1%;
    padding: 1.75%;

    a {
      color: $white;
    }
  }

  p {
    position: absolute;
    left: 35%;
    top: 3%;
    color: $white;
    padding-bottom: 3%;
    width: 30%;
    text-align: center;

    @media screen and (max-width: $break-med) {
      width: 50%;
      left: 30%;
    }

    @media screen and (max-width: $break-small) {
      font-size: 0.85rem;
    }
  }

}
