@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Bevan|Covered+By+Your+Grace|Dancing+Script:700);

$black: #0D1B1E;
$red: #9a353d;
$tan: #B8B09D;
$grey: #4B5358;
$white: #F4F4F4;
$green: #a2c19b;
$blue: #57658d;
$purple: #926985;
$orange: #d36b4f;

$headline-font: 'Bevan', cursive;
$main-font: 'Montserrat', sans-serif;
$script-font: 'Covered By Your Grace', cursive;
$cursive-font: 'Dancing Script', cursive;

$break-small: 500px;
$break-med: 920px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin card-create($color) {
  background-color: $color;
  color: darken($color, 20%);
}

@mixin card-preview-create($color) {
  background-color: $color;
  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin color-palette($color) {
  background-color: $color;
  border: 2px solid darken($color, 10%);
}

@mixin activate-colors($color1, $color2) {
  background-color: $color1;
  color: $color2;
  border: 2px solid $color2;

  &:hover {
    background-color: $color2;
    color: $color1;
    border: 2px solid $color1;
  }
}
