@import 'vars';

/* Default */
*, *:before, *:after {
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body {
  background-color: $white;
  color: $black;
  font-family: $main-font;
  margin: 0;

  a, li {
    @include border-radius(5px);
  }

  a {
    text-decoration: none;
    color: $red;
  }

  .heading {
    display: inline-block;
    width: 60%;
    font-family: $script-font;
    text-align: left;
    padding: 1% 3%;
    font-size: 3rem;

    @media screen and (max-width: $break-med) {
      width: 100%;
      font-size: 2rem;
    }
  }
}
